.filters__container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
    padding-left: 15px;
}
.warning {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  padding-right: 10px;
}
